body {
    margin: 0
}

.container {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 10px 5px;
    width: 50vw;
}

h2 {
    font-weight: bold;
    display: inline-block;
}

.refresh {
    font-size: 80%;
    margin-left: 10px;
}

.header {
    background: #ECECEC;
    padding: 5px;
}

.suggestions {
    border: 2px solid #ECECEC;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

li {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

li img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

li .username {
    position: relative;
    bottom: 15px;
    left: 5px;
}


li .close {
    position: relative;
    bottom: -10px;
}